.place__paragraph {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0 0 26px 0;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}
