.intro {
  max-width: calc(984px + 48px * 2);
  padding: 0 48px 0 48px;
  box-sizing: border-box;
}

@media screen and (max-width:1023px) {
  .intro {
    padding: 0 24px 0 24px;
  }
}

@media screen and (max-width:767px) {
  .intro {
    padding: 0 16px 0 16px;
  }
}


