.footer {
  padding: 92px 48px 24px 48px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width:1279px) {
  .footer {
    padding: 92px 48px 24px 48px;
  }
}

@media screen and (max-width:1023px) {
  .footer {
    padding: 88px 24px 24px 24px;
  }
}

@media screen and (max-width:767px) {
  .footer {
    padding: 64px 16px 24px 16px;
    flex-direction: column;
  }
}
